@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin : 0 ;
    padding: 0;
    outline: none;
}

html{
    width : 100%;
    height : 100%;
}

body{
    font-family: 'Noto Sans KR';
    width : 100%;
    height : 100%;
    background-color: #ffffff;
    overflow-x: hidden;
}

canvas{
    width : 100%;
    height : 100%;
}

:root{
    --blue : #0597F2;
}

a{
    text-decoration: none;
    color : inherit;
}

.main_title{
    position : absolute;
    top : calc(10%);
    left : calc(38%);
    font-size : 70px;
    z-index: 1;
    animation: 3s ease-in title;
}

@keyframes title{
    from{
        scale : 0.3;
        opacity : 0.3;
    }

    to{
        scale : 1;
        opacity : 1;
    }
}





